<div {{action 'startTimer' }}>click here to start timer</div>  <br> <br>

here is the first prop which IS NOT computed: {{someProp}} <br> <br>

here is the first prop which IS computed: {{computedProp}} <br> <br>
